.carousel {
    .carousel-inner {
        img {
            height: auto;
            width: 100%;
            margin: auto;
        }

        .carousel-control-prev,
        .carousel-control-next {
            background: linear-gradient(90deg, rgba(255, 255, 255, 0), $rythm);
            border: none;
            width: 10%;
            opacity: 0.2;

            &:hover {
                opacity: 0.5;
            }
        }

        .carousel-control-prev {
            background: linear-gradient(-90deg, rgba(255, 255, 255, 0), $rythm);
        }

        .carousel-control-prev-icon,
        .carousel-control-next-icon {
            opacity: 1;
            height: 3rem;
            width: 3rem;
        }
    }
}
