[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alabaster = "==0.7.12"
appdirs = "==1.4.4"
asgiref = "==3.3.1"
autopep8 = "==1.5.5"
boto3 = "==1.17.3"
botocore = "==1.20.3"
certifi = "==2020.12.5"
cffi = "==1.14.4"
chardet = "==4.0.0"
cryptography = "==3.3.1"
defusedxml = "==0.6.0"
distlib = "==0.3.1"
dj-database-url = "==0.5.0"
django-allauth = "==0.44.0"
django-crispy = "==1.8.1"
django-crispy-forms = "==1.11.0"
django-storages = "==1.11.1"
docformatter = "==1.4"
docutils = "==0.16"
filelock = "==3.0.12"
futures = "==3.1.1"
gunicorn = "==20.0.4"
idna = "==2.10"
imagesize = "==1.2.0"
isort = "==5.7.0"
jmespath = "==0.10.0"
lazy-object-proxy = "==1.4.3"
mccabe = "==0.6.1"
oauthlib = "==3.1.0"
pep8 = "==1.7.1"
pip-review = "==1.1.0"
pipenv = "==2020.11.15"
psycopg2-binary = "==2.8.6"
pycodestyle = "==2.6.0"
pycparser = "==2.20"
pylint = "==2.6.0"
pyparsing = "==2.4.7"
python-dateutil = "==2.8.1"
python3-openid = "==3.2.0"
pytz = "==2021.1"
requests = "==2.25.1"
requests-oauthlib = "==1.3.0"
s3 = "==3.0.0"
s3transfer = "==0.3.4"
six = "==1.15.0"
snowballstemmer = "==2.1.0"
sphinx-rtd-theme = "==0.5.1"
sphinxcontrib-applehelp = "==1.0.2"
sphinxcontrib-devhelp = "==1.0.2"
sphinxcontrib-htmlhelp = "==1.0.3"
sphinxcontrib-jsmath = "==1.0.1"
sphinxcontrib-qthelp = "==1.0.3"
sphinxcontrib-serializinghtml = "==1.1.4"
sqlparse = "==0.4.1"
toml = "==0.10.2"
urllib3 = "==1.26.3"
wrapt = "==1.12.1"
xmltodict = "==0.12.0"
Babel = "==2.9.0"
Django = "==3.1.6"
Jinja2 = "==2.11.3"
MarkupSafe = "==1.1.1"
Pillow = "==8.1.0"
Pygments = "==2.7.4"
PyJWT = {version = "==2.0.1", extras = ["crypto"]}
Sphinx = "==3.4.3"

[dev-packages]

[requires]
python_version = "3.9"
