<div class="container-fluid gallery">
    <div class="row">
        {% for image in gallery %}
        <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3 col-xl-3">
            <div class="image-box shadow-sm">
                <div class="info-box">
                    <a href="#" class='pop'>
                        <i class="fas fa-search-plus"></i>
                    </a>
                </div>
                <img src="{{ image.image.url }}" alt="{{ image.name }}">
            </div>
        </div>
        {% endfor %}
        <div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" data-dismiss="modal">
                <div class="modal-content">
                    <div class="modal-body">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <img src="" class="imagepreview" style="width: 100%;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>