{% extends 'base.html' %}
{% load static %}

{% block extra_title %}{% endblock %}

{% block content %}
<!-- Main container -->
<div class="main-container">
    {% if gallery.count != 0 %}
    <div class="container">
        <!-- Page title -->
        <h1 class="title-b">Welcome to my work Gallery</h1>
        <!-- Main text -->
        <p class="p-medium">Here you can find my latest work</p>
    </div>
    <!-- Iclude Gallery -->
    {% include 'gallery/gallery-floats.html' %}
    {% else %}
    <div class="container no-gallery">
        <!-- Page title -->
        <h1 class="title-b">Welcome to my work Gallery</h1>
        <!-- Main text -->
        <p class="p-medium">Currently, there are no images. Come back later and check again, please. They will be here
            soon!</p>
        <!-- Image -->
        <div class="col-12 d-flex my-5">
            <img src="{{MEDIA_URL}}images/No_image.png" alt="No image available">
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}