{% extends 'base.html' %}
{% load static %}

{% block extra_title %}{% endblock %}

{% block content %}
<!-- Main container -->
<div class="main-container">
    <!-- Main container -->
    <div class="space-block"></div>
    <div class="container position-relative">
        <div class="top-section">
            <h1 class="title-b">Our Servies</h1>
            <!-- Loop through categories -->
            <!-- Category container -->
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                <!-- Title and description -->
                <div class="">
                    <p class="">Service Title</p>
                    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad perferendis architecto
                        tempora
                        distinctio autem quas debitis maxime reiciendis repudiandae tenetur veritatis assumenda voluptas
                        quo
                        enim cum, eligendi accusamus accusantium facere.</p>
                </div>
                <!-- Price and time / from side -->
                <div class="">
                    <p class="">£30</p>
                    <p class="">02:00:00</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}