html {
    position: relative;
    min-height: 100%;
    width: 100%;
}

body {
    max-height: 100%;
    max-width: 100%;
    font-family: "Lato", sans-serif;
    background-color: $white-a;
    margin-bottom: 68px;

    .main-container {
        padding: 160px 15px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $rythm;
    font-family: "Raleway", sans-serif;
}

// Headers style
.title-b {
    font-size: 2.25rem;
}
.title-m {
    font-size: 1.75rem;
}
.title-s {
    font-size: 1.25rem;
}

// Weight styles
.fw-300 {
    font-weight: 300;
}
.fw-400 {
    font-weight: 400;
}
.fw-500 {
    font-weight: 500;
}

// Paragraph styles
p,
input,
textarea,
.btn {
    color: #adadad;
    font-family: "Lato", sans-serif;
}
.p-small {
    font-size: 0.85rem;
}
.p-medium {
    font-size: 1rem;
}
.p-big {
    font-size: 1.25rem;
}

// Anchors style
a {
    font-family: "Lato", sans-serif;
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

// Middle position
.pos-middle {
    display: flex;
    justify-content: center;
    align-items: center;
}
