{% extends 'base.html' %}
{% load static %}

{% block extra_title %}{% endblock %}

{% block content %}
<!-- Image block -->
<div class="container my-5">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 my-4 px-4">
            {% if contact_info.title %}
            <h1 class="title-b">{{ contact_info.title }}</h1>
            <p class="p-medium">{{ contact_info.promo_text }}</p>
            {% else %}
            <h1 class="title-b">Contact</h1>
            <p class="p-medium">To contact me please use the form below.<br> I will respond as soon as I will be able to
                do so. Thank you for your patience!</p>
            {% endif %}
        </div>
        <div class="my-4 px-4">
            <div class="row contact-container">
                {% if contact_info.image %}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 p-0">
                    <img src="{{ contact_info.image.url }}" alt="">
                </div>
                {% endif %}
                <div class="col-xs-12 col-sm-12 {% if contact_info.image %}col-md-6 col-lg-6 col-xl-6{% else %}
                    col-md-12 col-lg-12 col-xl-12{% endif %} mt-3 px-4 py-1">
                    <h4 class="p-medium">Want to contact me directly?</h4>
                    <p class="p-medium mb-4">Give me a call at
                        <br class="d-block d-sm-none"><a href="{{ contact_info.phone_number }}" class="phone-number">
                            {{contact_info.phone_number }}</a>
                    </p>
                    <h5 class="p-medium">You can also use below contact form</h5>
                    <!-- Contact form -->
                    {% include 'contact/form.html' %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}