<!-- FORM container -->
<form method="POST">
    {% csrf_token %}
    <!-- Contact Form as Crispy -->
    {{ contact_form.name | as_crispy_field }}
    {{ contact_form.from_email | as_crispy_field }}
    {{ contact_form.phone_number | as_crispy_field }}
    {{contact_form.subject | as_crispy_field }}
    {{ contact_form.message | as_crispy_field }}
    <!-- Form buttons -->
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 buttons">
        <button type="reset" class="btn btn-primary btn-clear">Clear</button>
        <button type="submit" class="btn btn-primary btn-send">Send</button>
    </div>
</form>