nav {
    display: inline-flex;

    .navbar-brand {
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .nav-link {
        color: $rythm !important;
        font-weight: 500;
        padding-left: 1rem !important;
        padding-right: 1rem !important;

        &:hover {
            color: $rythm;
        }
    }
}
