nav {
    display: inline-flex;
    background-color: $white-a;

    .navbar-nav {
        display: flex;
        align-items: center;

        .navbar-brand {
            margin: 0;
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 1rem;
            width: 300px;
            height: auto;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .nav-link {
            color: $kobi-d !important;
            padding-left: 1rem !important;
            padding-right: 1rem !important;
            opacity: 0.7;
            position: relative;

            &:hover {
                color: $rythm;
                opacity: 1;

                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $kobi-d;
                    width: 15px;
                    height: 2px;
                }
            }

            &:nth-child(2),
            &:nth-child(4) {
                &::before {
                    left: calc(50% - 8px);
                }
            }

            &:nth-child(5) {
                &::before {
                    left: calc(100% - 16px);
                }
            }
        }
    }

    .link-a {
        opacity: 1 !important;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            background: $kobi-d;
            width: 15px;
            height: 2px;
        }
    }
}
