<nav class="navbar navbar-expand-lg fixed-top" id="main-nav">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link {% if request.get_full_path == '/about/' %}link-a{% endif %}"
                    href="{% url 'about' %}">About</a>
                <a class="nav-link {% if request.get_full_path == '/gallery/' %}link-a{% endif %}"
                    href="{% url 'gallery' %}">Gallery</a>
                <a class="navbar-brand" href="{% url 'home' %}">
                    <img src="{{ MEDIA_URL }}logotype/logo.png" alt="Estetica Nails">
                </a>
                <a class="nav-link {% if request.get_full_path == '/prices/' %}link-a{% endif %}"
                    href="{% url 'prices' %}">Services</a>
                <a class="nav-link {% if request.get_full_path == '/contact/' %}link-a{% endif %}"
                    href="{% url 'contact' %}">Contact</a>
            </div>
        </div>
    </div>
</nav>